# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual Environments
venv/
.venv/
env/
.env/



# Django
*.sqlite3
db.sqlite3
/media/
/staticfiles/

# Secrets and config
.env
.dockerignore
*.secret
*.key

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log
logs/

# OS junk
.DS_Store
Thumbs.db

